@tailwind base;
@tailwind components;
@tailwind utilities; 
.prose .ql-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem; /* rounded-lg */
}

.responsive-video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #f0f0f0; /* Placeholder abu-abu saat loading */
    border-radius: 0.5rem; /* rounded-lg */
    margin: 1.5em 0; /* Jarak atas/bawah */
}

.responsive-video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Wrapper Khusus TikTok
  (Vertikal dan di tengah)
*/
.responsive-video-wrapper-tiktok {
    display: flex;
    justify-content: center;
    margin: 1.5em 0;
}
